:root {
    --vue-logo: #41b883;
}
.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.todo-list {
    &__title {
        margin-left: 10px;
    }
    &__item {
        justify-content: space-between;
        padding: 0 .75rem;
    }
    &__item-remove {
        font-size: 30px;
        &:hover {
            color: var(--danger);
            opacity: 1;
        }
        &:focus {
            outline: 0;
        }
    }
    &__add {
        background-color: var(--vue-logo);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.checkbox {
    margin: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    cursor: pointer;
    &--check-all {
        .checkbox__text {
            top: -14px;
            left: 5px;
        }
    }
    &__text {
        position: relative;

        &::before {
            position: absolute;
            top: 4px;
            left: 0;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 3px;
            border: 1px solid var(--info);
        }
    }

    &__input:checked + .checkbox__text {
        &::after {
            position: absolute;
            top: 7px;
            left: 7px;
            content: '';
            display: inline-block;
            width: 7px;
            height: 10px;
            border: solid var(--gray-dark);
            border-width: 0 2px 2px 0;
            transform: rotate( 45deg);
        }
    }

    &__text {
        padding-left: 30px;
    }
}